.main {
  width: 980px;
  height: 455px;
  margin-top: 12px;
  margin-left: 220px;
}
.main .focus {
  float: left;
  width: 721px;
  height: 455px;
}
.main .newsflash {
  float: right;
  width: 250px;
  height: 455px;
}
.main .newsflash .news {
  height: 165px;
  border: 1px solid #e4e4e4;
}
.news_hd {
  height: 33px;
  line-height: 33px;
  padding: 0 15px;
  border-bottom: 1px dotted #e4e4e4;
}
.news_hd h5 {
  float: left;
  font-size: 14px;
}
.news_hd a {
  float: right;
}
.news_bd {
  padding: 5px 15px 0;
}
.news_bd ul li {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .newsflash .life_service {
  height: 209px;
  border: 1px solid #e4e4e4;
  border-top: 0;
  overflow: hidden;
}
.main .newsflash .life_service ul {
  width: 252px;
}
.main .newsflash .life_service ul li {
  float: left;
  width: 63px;
  height: 71px;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
}
.life_service ul li i {
  display: inline-block;
  width: 24px;
  height: 28px;
  background: url('../images/icons.png') no-repeat -17px -16px;
  margin-top: 10px;
}
.main .newsflash .bargin {
  margin-top: 5px;
}
.main .newsflash .bargin img {
  width: 100%;
}

.recom {
  height: 163px;
  background-color: #ebebeb;
  margin-top: 12px;
}
.recom_hd {
  float: left;
  height: 163px;
  width: 205px;
  text-align: center;
  color: #fff;
  background-color: #5c5251;
}
.recom_hd img {
  padding-top: 30px;
}
.recom_hd h2 {
  margin-top: 5px;
}
.recom_bd {
  float: left;
  height: 163px;
  /* width: calc(100% - 205px); */
}
.recom_bd ul li {
  float: left;
}
.recom_bd ul li img {
  width: 248px;
  height: 163px;
}

.like {
  margin: 10px auto;
}
.like .like-hd ul li {
  height: 40px;
  line-height: 40px;
}
.like-hd ul li:nth-child(1) {
  float: left;
  font-size: 16px;
  color: #333;
}
.like-hd ul li:nth-child(2) {
  float: right;
  font-size: 12px;
}
#change::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: sub;
  margin: 0 10px 0 5px;
  background: url('../images/icons.png') no-repeat -420px -109px;
}
.like-hd ul::after {
  content: '';
  display: block;
  clear: both;
}
.like .like-bd {
  height: 232px;
  border: 1px solid #e4e4e4;
}
.like-bd ul li {
  float: left;
  width: 199px;
  height: 100%;
}
.like-bd ul:after {
  content: '';
  display: block;
  clear: both;
} 
.like-img {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.like-info .description {
  margin: 5px 32px;
  font-size: 12px;
  line-height: 1.5em;
  color: #333;
}
.like-info .price {
  margin: 0 30px;
  color: red;
  font-size: 16px;
  font-weight: 600;
}
.like-info .price::before {
  content: '¥';
  font-size: 12px;
}
.like-info {
  border-right: 1px solid #e4e4e4;
}
.like-info.last{
  border-right: none;
}