.main {
  width: 980px;
  height: 455px;
  margin-top: 12px;
  margin-left: 220px;
}
.main .focus {
  float: left;
  width: 721px;
  height: 455px;
}
.main .newsflash {
  float: right;
  width: 250px;
  height: 455px;
}
.main .newsflash .news {
  height: 165px;
  border: 1px solid #e4e4e4;
}
.news_hd {
  height: 33px;
  line-height: 33px;
  padding: 0 15px;
  border-bottom: 1px dotted #e4e4e4;
}
.news_hd h5 {
  float: left;
  font-size: 14px;
}
.news_hd a {
  float: right;
}
.news_bd {
  padding: 5px 15px 0;
}
.news_bd ul li {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .newsflash .life_service {
  height: 209px;
  border: 1px solid #e4e4e4;
  border-top: 0;
  overflow: hidden;
}
.main .newsflash .life_service ul {
  width: 252px;
}
.main .newsflash .life_service ul li {
  float: left;
  width: 63px;
  height: 71px;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
}
.life_service ul li i {
  display: inline-block;
  width: 24px;
  height: 28px;
  background: url('../images/icons.png') no-repeat -17px -16px;
  margin-top: 10px;
}
.main .newsflash .bargin {
  margin-top: 5px;
}
.main .newsflash .bargin img {
  width: 100%;
}

.recom {
  height: 163px;
  background-color: #ebebeb;
  margin-top: 12px;
}
.recom_hd {
  float: left;
  height: 163px;
  width: 205px;
  text-align: center;
  color: #fff;
  background-color: #5c5251;
}
.recom_hd img {
  padding-top: 30px;
}
.recom_hd h2 {
  margin-top: 5px;
}
.recom_bd {
  float: left;
  height: 163px;
  /* width: calc(100% - 205px); */
}
.recom_bd ul li {
  float: left;
}
.recom_bd ul li img {
  width: 248px;
  height: 163px;
}

.like {
  margin: 10px auto;
}
.like .like-hd ul li {
  height: 40px;
  line-height: 40px;
}
.like-hd ul li:nth-child(1) {
  float: left;
  font-size: 16px;
  color: #333;
}
.like-hd ul li:nth-child(2) {
  float: right;
  font-size: 12px;
}
#change::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: sub;
  margin: 0 10px 0 5px;
  background: url('../images/icons.png') no-repeat -420px -109px;
}
.like-hd ul::after {
  content: '';
  display: block;
  clear: both;
}
.like .like-bd {
  height: 232px;
  border: 1px solid #e4e4e4;
}
.like-bd ul li {
  float: left;
  width: 199px;
  height: 100%;
}
.like-bd ul:after {
  content: '';
  display: block;
  clear: both;
} 
.like-img {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.like-info .description {
  margin: 5px 32px;
  font-size: 12px;
  line-height: 1.5em;
  color: #333;
}
.like-info .price {
  margin: 0 30px;
  color: red;
  font-size: 16px;
  font-weight: 600;
}
.like-info .price::before {
  content: '¥';
  font-size: 12px;
}
.like-info {
  border-right: 1px solid #e4e4e4;
}
.like-info.last{
  border-right: none;
}

.floor .box-hd {
  height: 30px;
  border-bottom: 2px solid #c81623;
}
.box-hd h3 {
  float: left;
  color: #c81623;
  font-size: 18px;
  font-weight: 400;
}
.box-hd .tab-list {
  float: right;
}
.box-hd .tab-list ul li {
  float: left;
  height: 30px;
  line-height: 30px;
}
.box-hd .tab-list ul li a {
  margin: 0 15px;
}
.floor .w {
  margin-top: 30px;
}
.floor .box-bd {
  height: 361px;
  /* border: 1px solid #ccc; */
}
.box-bd .tab-content .tab-content-item div {
  float: left;
  height: 361px;
}
.col_210 {
  width: 210px;
  background-color: #f9f9f9;
  text-align: center;
}
.col_329 {
  width: 329px;
}
.col_221 {
  width: 221px;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.col_219 {
  width: 219px;
  border-bottom: 1px solid #e4e4e4;
}
.col_210 ul {
  padding-left: 12px;
}
.col_210 ul::after {
  content: '';
  display: block;
  clear: both;
}
.col_210 ul li {
  float: left;
  height: 34px;
  /* 因为有一个像素的下边框，而且是border-box，所以内容区域的高度是33px */
  line-height: 33px;
  width: 85px;
  margin-right: 10px;
  border-bottom: 1px solid #e4e4e4;
}
.col_210 a:nth-child(2) {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.col_329 a {
  display: block;
}
.col_219 a {
  display: block;
}
.col_221 a {
  display: block;
}
a.bb {
  border-bottom: 1px solid #e4e4e4;
}
a.br {
  /* 如果a不设置overflow:hidden，则即使a.br设置了右边的边框也是看不见的 */
  /* 因为图片的宽度刚好和a标签的宽度相同，a.br的有边框会被盖住 */
  overflow: hidden;
  border-right: 1px solid #e4e4e4;
}
.floor .box-ft {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f7f7f7;
  height: 64px;
}
.box-ft ul li {
  position: relative;
  float: left;
  width: 120px;
  height: 64px;
  line-height: 64px;
  text-align: center;
}
.box-ft ul::after {
  content: '';
  display: block;
  clear: both;
}
.box-ft ul li a {
  display: inline-block;
  height: 42px;
  line-height: 42px;
}
.box-ft ul li:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -21px;
  display: inline-block;
  height: 42px;
  border-right: 1px dotted #ccc;
}
.box-ft ul li:nth-child(10)::after {
  border: none;
}

.lift-fixed {
  position: fixed;
  top: 212px;
  left: 280px;
  width: 65px;
}
.lift-fixed ul li {
  height: 33px;
  line-height: 33px;
  text-align: center;
  color: #666;
  border-bottom: 1px solid #e4e4e4;
}
.lift-fixed ul li:hover {
  background-color: #c81623;
}
.lift-fixed ul li:hover a {
  color: #fff;
}