body{
    width:100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-size: 14px;
    color: #666;
    font-family: -apple-system, Helvetica, sans-serif;
    line-height: 1.5;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.app{
    height:45px;
}

.app ul li{
    height:45px;
    line-height: 45px;
    background-color: #333333;
    float: left;
    text-align: center;
    color: #fff;
}

.app ul li:nth-child(1){
    width: 8%;
}
.app ul li:nth-child(1) img{
    width: 10px;
}

.app ul li:nth-child(2){
    width: 10%;
}
.app ul li:nth-child(2) img{
    width: 30px;
    /* 让图片和文字居中对齐 */
    vertical-align: middle;
}

.app ul li:nth-child(3){
    width: 57%;
}

.app ul li:nth-child(4){
    width: 25%;
    background-color: #f63515;
}

.search-wrap{
    height: 44px;
    position: fixed;
    top: 45px;
    /* 固定定位的盒子需要给宽度 */
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    /* 由于搜索框是块级元素，直接给margin-top会导致外边距塌陷，可以通过给父元素加边框或设置overflow:hidden来解决 */
    background-color: #c82519;
    overflow: hidden;
}

.search-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 44px;
}

.search-btn::after {
    content: '';
    display: block;
    width: 20px;
    height: 16px;
    margin: 14px 10px;
    background: url('../images/s_btn.png') no-repeat;
    background-size: 100% 100%;
}

.search-login{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
}

.search{
    position: relative;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 15px;
    margin-top: 7px;
    border-radius: 15px;
    background-color: #fff;
}

.jd-icon {
    position: absolute;
    width: 20px;
    height: 15px;
    top: 7px;
    left: 13px;
    background: url('../images/jd.png') no-repeat;
    background-size: 20px;
}

.jd-icon::after {
    position: absolute;
    content: '';
    display: block;
    height: 17px;
    border-right: 1px solid #ccc;
    left: 28px;
    top: -1px;
}

.search-icon {
    position: absolute;
    left: 50px;
    top: 7px;
    width: 18px;
    height: 15px;
    /* 这里精灵图也用的二倍图，所以background-position要在背景图缩放为原来的一半时进行测量 */
    background: url('../images/jd-sprites.png') no-repeat -81px 0px;
    /* 这里background-size也要缩小为原来的一半 */
    /* 注意：背景图片并不会撑大盒子 */
    background-size: 200px;
}

.search-input {
    box-sizing: border-box;
    height: 15px;
    width: 100%;
    padding-left: 25px;
    padding-right: 20px;
    border: none;
    outline: none;
}

.main-content{
    background-color: #f6f6f6;
}

.main-content .top-bg {
    position: absolute;
    /* 绝对定位脱离了标准流，要设置宽度 */
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    background-color: #c82519;
    height: 100px;
}

.slider {
    position: relative;
    z-index: 100;
    width: calc(100% - 20px);
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 44px;
}

.slider img {
    width: 100%;
    /* 图片默认的vertical-align为baseline，会导致有缝隙，通过修改vertical-align可以解决 */
    vertical-align: middle;
}
